a{
    color: #4c4;
}
.big{
    font-size: 150%;
}
body{
    background: #000;
    color: #ccc;
    font: bold 14px monospace;
}
.external{
    color: #f99;
}
table{
    margin: auto;
}
td{
    vertical-align: top;
}

a:focus{
    outline: thin solid #4c4;
}
a:hover{
    color: #07f;
}
